<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./layui/css/layui.css"  media="all">
    <style>
        .layui-logo{
            position: absolute;
            left: 0;
            top: 0;
            width: 200px;
            height: 100%;
            line-height: 60px;
            text-align: center;
            color: #009688;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<script src="./layui/layui.js" charset="utf-8"></script>
<script src="./js/head.js"></script>
<script src="./js/AJAX.js"></script>

<body class="layui-layout-body" style="min-width:1536px;">
    <div class = "layui-layout layui-layout-admin">
        <div class="layui-header" style="background-color: #23262E;">
            <div class="layui-logo"><a href="/index"> This is <span style="font-size: 24px;font-weight:bold;color:white;">&nbsp&nbsp高博!</span></a></div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item  layui-this"><a href="/fp">首页</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">线路浏览</a>
                </li>
                <li class="layui-nav-item"><a href="">新闻浏览</a></li>
                <li class = "layui-nav-item" style="padding-left: 50px;">景点搜索:</li>
                <li class = "layui-nav-item" style="padding-left: 20px;width: 400px;">
                    <input type="text" name = "sInput" id="sInput" placeholder="热门搜索：天安门" class="layui-input">
                </li>
                <li class = "layui-nav-item" style="padding-left: 30px">
                    <button type="button" id="sButton" class="layui-btn">搜索</button>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" style="background-color: #23262E;"  >
                <div class="userinfo" style="display: block;">
                    <ul>
                        <li class="layui-nav-item"><a href="/register">注册</a></li>
                        <li class="layui-nav-item"><a href="/login">登录</a></li>
                    </ul>
                </div>
                <li class="layui-nav-item" lay-unselect="" style="display: none;">
                    <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">总之是个名字</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">进入后台</a></dd>
                        <dd><a href="javascript:;">溜了溜了</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect="" style="display: none;">
                    <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">总之是个好名字</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">查询订单</a></dd>
                        <dd><a href="javascript:;">溜了溜了</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-unselect="" style="display: none;" >
                    <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">总之是个名字</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">查询发布线路</a></dd>
                        <dd><a href="javascript:;">溜了溜了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-body" style="left: 150px;right: 150px">
            <div class="layui-carousel" style="width: 100%" id="tjxl">
                <div carousel-item="">
                    <div><img src="./img/02.jpg" style="width:100%; height: 100%;display: block;"></div>
                    <div><img src="./img/03.jpg" style="width:100%; height: 100%;display: block;"></div>
                    <div><img src="./img/04.jpg" style="width:100%; height: 100%;display: block;"></div>
                </div>
            </div>
            <div style="padding-top: 20px">
                <span class="layui-breadcrumb" lay-separator="  " >
                    <a href="" style="font-size: 16px">热门景点：&nbsp&nbsp&nbsp&nbsp</a>
                    <a href="" style="font-size: 16px">天安门</a>
                    <a href="" style="font-size: 16px">西湖</a>
                    <a href="" style="font-size: 16px">布达拉宫</a>
                    <a href="" style="font-size: 16px">东方明珠广播电视塔</a>
                    <a href="" style="font-size: 16px">钱塘江</a>
                    <a href="" style="font-size: 16px">洞庭湖</a>
                </span>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>热门线路</legend>
            </fieldset>
            <div class = "layui-row layui-col-space30">
                <div class="layui-col-md10">
                    <div class="grid-demo grid-demo-bg1">10/12</div>
                </div>
                <div class = "layui-col-md2">
                    <div class="grid-demo grid-demo-bg1">2/12</div>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title">
                <legend>热门景点</legend>
            </fieldset>
            <div class = "layui-row layui-col-space30">
                <div class="layui-col-md10">
                    <div class="grid-demo grid-demo-bg1">10/12</div>
                </div>
                <div class = "layui-col-md2">
                    <div class="grid-demo grid-demo-bg1">2/12</div>
                </div>
            </div>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend>留言区</legend>
            </fieldset>
        </div>
    </div>
</body>
<script>
    layui.use(['carousel','form','element'],function () {
        var carousel = layui.carousel,
            form = layui.form,
            element = layui.element;
        carousel.render({
            elem:'#tjxl'
            ,interval:2000
            ,anim:'fade'
            ,height:'400px'
            ,width: '100%'
        });
        element.on('nav(demo)', function(elem){
        });
    })
</script>
<!--<script>-->
<!--    window.onload = function () {-->
<!--        //初始化页面头部样式-->
<!--        headerReset();-->

<!--        //路线节点-->
<!--        var oRoute = document.getElementsByClassName("routeItem");-->
<!--        //路线对应的图片-->
<!--        var oRouteImg = document.getElementsByClassName("routeImg");-->
<!--        //-->
<!--        var oLands = document.getElementsByClassName("lands");-->
<!--        //获取所有内容节点-->
<!--        var oContent = document.getElementsByClassName("content");-->
<!--        var oNavCtrs = [];-->
<!--        var oConNavs = [];-->
<!--        var oConItemCtrs = [];-->
<!--        for (let i = 0; i < oContent.length; i++) {-->
<!--            //获取当前内容节点下的所有的内容导航容器节点（conNavCtr）-->
<!--            oNavCtrs[i] = oContent[i].getElementsByClassName("conNavCtr");-->
<!--            //获取当前内容节点下的所有的内容导航节点（conNav）-->
<!--            oConNavs[i] = oContent[i].getElementsByClassName("conNav");-->
<!--            //获取当前内容节点下的所有内容项目容器（conItemCtr）-->
<!--            oConItemCtrs[i] = oContent[i].getElementsByClassName("conItemCtr");-->
<!--        }-->
<!--        var nq = oConNavs[0].length;-->
<!--        for(var n=0;n<nq;n++){-->
<!--            oNavCtrs[0][0].removeChild(oConNavs[0][0]);-->
<!--            oContent[0].removeChild(oConItemCtrs[0][0]);-->
<!--        }-->

<!--        $ajax({-->
<!--            url:"/admin/getAllLines",-->
<!--            data:"",-->
<!--            success:function(res,nodes){-->
<!--                res = JSON.parse(res);-->
<!--                console.log(res);-->
<!--                var max = null;-->
<!--                var count = 0;-->
<!--                var cfd = [];-->
<!--                var fline = new Array();-->

<!--                for(var i=0;i<res.length;i++){-->
<!--                    var flag = false;-->
<!--                    for(var j=0; j<cfd.length ;j++){-->
<!--                        if(cfd[j] == res[i]["cfd"]){-->
<!--                            fline[j].push(res[i]);-->
<!--                            flag = true;-->
<!--                            break;-->
<!--                        }-->
<!--                    }-->
<!--                    if(flag){-->
<!--                        continue;-->
<!--                    }else{-->
<!--                        cfd[count] = res[i]["cfd"];-->
<!--                        fline[count] = new Array();-->
<!--                        fline[count++].push(res[i]);-->
<!--                    }-->
<!--                }-->
<!--                console.log(cfd);-->
<!--                console.log(fline);-->
<!--                //最多显示5个地区-->
<!--                max = Math.max(5,cfd.length);-->

<!--                for(let i=0; i<cfd.length; i++){-->
<!--                    var newConNav = document.createElement("span");-->
<!--                    newConNav.className = "conNav";-->
<!--                    newConNav.innerHTML = cfd[i];-->
<!--                    newConNav.onclick = function(){-->
<!--                        var Items = document.getElementsByClassName("conItemCtr");-->
<!--                        for(var k=0;k<Items.length;k++){-->
<!--                            Items[k].style.display = "none";-->
<!--                        }-->
<!--                        Items[i].style.display = "block";-->
<!--                    }-->
<!--                    oNavCtrs[0][0].appendChild(newConNav);-->

<!--                    var newItem = document.createElement("div");-->
<!--                    newItem.className = "conItemCtr";-->
<!--                    if(i==0){-->
<!--                        newItem.style.display = "block";-->
<!--                    }else{-->
<!--                        newItem.style.display = "none";-->
<!--                    }-->
<!--                    var newUl = document.createElement("ul");-->
<!--                    for(let j=0;j<fline[i].length;j++){-->
<!--                        if(j>6){-->
<!--                            break;-->
<!--                        }-->
<!--                        var newLi = document.createElement("li");-->
<!--                        newLi.className = "conItemInfo";-->
<!--                        var newImg = document.createElement("img");-->
<!--                        newImg.className = "itemImg";-->
<!--                        newImg.src = fline[i][j]["tp1Js"];-->
<!--                        var newdiv = document.createElement("div");-->
<!--                        newdiv.innerHTML = fline[i][j]["xlname"];-->
<!--                        newLi.appendChild(newImg);-->
<!--                        newLi.appendChild(newdiv);-->
<!--                        newLi.lineId = fline[i][j]["id"];-->
<!--                        newLi.onclick = function(){-->
<!--                            localStorage.setItem("lineId",this.lineId);-->
<!--                            location.assign("/detail");-->
<!--                        }-->
<!--                        newUl.appendChild(newLi);-->
<!--                    }-->
<!--                    newItem.appendChild(newUl);-->
<!--                    oContent[0].appendChild(newItem);-->
<!--                }-->


<!--            },-->
<!--            nodes:null-->
<!--        })-->

<!--        /*var landsdata = $ajax({-->
<!--            url:"/admin/getAllViews",-->
<!--            data:"",-->
<!--            success:function(res,nodes){-->
<!--                alert(res);-->
<!--                alert(res.length);-->
<!--            },-->
<!--            nodes:null-->
<!--        })*/-->


<!--        //加载左导航图片-->



<!--        //加载内容信息-->


<!--        /* //存储景点导航选择的景点-->
<!--        var landSelected = null; */-->

<!--        //获取路线元素节点以及轮播图下路线具体信息节点-->

<!--        var oSwiper = document.getElementsByClassName("swiper");-->
<!--        var oRouteInfo = oSwiper[0].getElementsByTagName("div");-->
<!--        //给路线节点添加鼠标移入事件-->
<!--        for (let i = 0; i < oRoute.length; i++) {-->
<!--            oRoute[i].onclick = function(){-->
<!--                localStorage.setItem("lineId",i+1);-->
<!--                location.assign("/detail");-->
<!--            }-->
<!--            oRouteImg[i].onclick = function(){-->
<!--                localStorage.setItem("lineId","i");-->
<!--                location.assign("/detail");-->
<!--            }-->
<!--            oRoute[i].onmouseover = function () {-->
<!--                oRoute[i].className = "routeItem now";-->
<!--                oRouteInfo[i].style.display = "block";-->
<!--            }-->
<!--            oRoute[i].onmouseout = function () {-->
<!--                oRoute[i].className = "routeItem";-->
<!--                oRouteInfo[i].style.display = "none";-->
<!--            }-->
<!--            oRouteInfo[i].onmouseover = function () {-->
<!--                oRoute[i].className = "routeItem now";-->
<!--                oRouteInfo[i].style.display = "block";-->
<!--            }-->
<!--            oRouteInfo[i].onmouseout = function () {-->
<!--                oRoute[i].className = "routeItem";-->
<!--                oRouteInfo[i].style.display = "none";-->
<!--            }-->
<!--        }-->


<!--        //左侧景点选项元素-->
<!--        /* var olseld = document.getElementsByClassName("landsUl");-->
<!--        var olItems = olseld[0].getElementsByClassName("landItem");-->
<!--        for(let i=0; i<olItems.length; i++){-->
<!--            olItems[i].onclick = function(){-->
<!--                //点击时将被点击的元素激活-->
<!--                for(var j=0; j<olItems.length ;j++){-->
<!--                    olItems[j].className = "landItem";-->
<!--                }-->
<!--                this.className = "landItem active";-->
<!--                landSelected = this.innerHTML;-->
<!--            }-->
<!--        } */-->
<!--        var oMBtn = document.getElementsByClassName("more");-->
<!--        oMBtn[0].onclick = function () {-->
<!--            location.assign("/result");-->
<!--        }-->



<!--        for (let i = 0; i < oConNavs.length; i++) {-->
<!--            //给内容导航节点添加点击-->
<!--            for (let j = 0; j < oConNavs[i].length; j++) {-->
<!--                oConNavs[i][j].onclick = function () {-->
<!--                    //将前栏目下的所有内容项目容器设置为隐藏-->
<!--                    for (var k = 0; k < oConItemCtrs[i].length; k++) {-->
<!--                        oConItemCtrs[i][k].style.display = "none";-->
<!--                    }-->
<!--                    //显示选择的内容项目容器-->
<!--                    oConItemCtrs[i][j].style.display = "block";-->
<!--                }-->
<!--            }-->
<!--        }-->


<!--        //发布评论-->
<!--        //获取元素节点-->
<!--        var oMsg = document.getElementsByClassName("msg");-->
<!--        var omt = document.getElementsByClassName("msgt");-->
<!--        var oIsBtn = document.getElementsByClassName("issue");-->
<!--        var oSArea = document.getElementsByClassName("showArea");-->
<!--        var ocomments = oSArea[0].getElementsByClassName("oVersion");-->
<!--        //清空缓存留言区-->
<!--        for (var i=0; i<ocomments.length; i++){-->
<!--            oSArea[0].removeChild(ocomments[i]);-->
<!--        }-->
<!--        //加载留言-->
<!--        $ajax({-->
<!--            url:"/guest/getallbook",-->
<!--            data:null,-->
<!--            success:function(res,nodes){-->
<!--                res = JSON.parse(res);-->
<!--                console.log(res);-->
<!--                for(var i=0; i<res.length ;i++){-->
<!--                    //创建新节点-->
<!--                    var newComment = document.createElement("div");-->
<!--                    //设置新节点样式、内容-->
<!--                    var newtl = document.createElement("div");-->
<!--                    newtl.className = "ctitle";-->
<!--                    var username = res[i]["name"];-->
<!--                    newtl.innerHTML = username + ":" + res[i]["title"];-->
<!--                    var newcct = document.createElement("div");-->
<!--                    newcct.className = "cct";-->
<!--                    newcct.innerHTML = res[i]["content"];-->
<!--                    var newdat = document.createElement("div");-->
<!--                    newdat.className = "cdate";-->
<!--                    newdat.innerHTML = res[i]["time"];-->
<!--                    newComment.className ="oVersion";-->
<!--                    newComment.appendChild(newtl);-->
<!--                    newComment.appendChild(newcct);-->
<!--                    newComment.appendChild(newdat);-->
<!--                    //将新节点插入到评论展示界面-->
<!--                    oSArea[0].appendChild(newComment);-->
<!--                }-->
<!--            },-->
<!--            nodes:null-->
<!--        })-->

<!--        oIsBtn[0].onclick = function () {-->
<!--            var tele = null;-->
<!--            tele = localStorage.getItem("tele");-->
<!--            if(tele==null){-->
<!--                alert("请先登录！");-->
<!--                return;-->
<!--            }-->

<!--            //获取评论内容-->
<!--            var mt = omt[0].value;-->
<!--            var txt = oMsg[0].value;-->
<!--            var data = "phonenumber="+tele;-->
<!--            $ajax({-->
<!--                url:"/guest/getGuestInfo",-->
<!--                data:data,-->
<!--                success:function(res,nodes){-->
<!--                    res = JSON.parse(res);-->
<!--                    console.log(res);-->
<!--                    //创建新节点-->
<!--                    var newComment = document.createElement("div");-->
<!--                    //设置新节点样式、内容-->
<!--                    var newtl = document.createElement("div");-->
<!--                    newtl.className = "ctitle";-->
<!--                    var username = res["name"];-->
<!--                    newtl.innerHTML = username + ":" + mt;-->
<!--                    var newcct = document.createElement("div");-->
<!--                    newcct.className = "cct";-->
<!--                    newcct.innerHTML = txt;-->
<!--                    var newdat = document.createElement("div");-->
<!--                    newdat.className = "cdate";-->
<!--                    var d = new Date();-->
<!--                    newdat.innerHTML = d.toLocaleDateString() + " " + d.toLocaleTimeString();-->
<!--                    newComment.className ="oVersion";-->
<!--                    newComment.appendChild(newtl);-->
<!--                    newComment.appendChild(newcct);-->
<!--                    newComment.appendChild(newdat);-->
<!--                    //将新节点插入到评论展示界面-->
<!--                    oSArea[0].appendChild(newComment);-->
<!--                    //将评论存入到数据库-->
<!--                    $ajax({-->
<!--                        url:"/guest/book",-->
<!--                        data:"title="+mt+"&email="+res["email"]+"&tel="+tele+"&name="+username+"&addr="+res["addr"]+"&content="+txt,-->
<!--                        success:function(res,nodes){-->
<!--                            if(res){-->
<!--                                console.log("发布成功");-->
<!--                            }-->
<!--                        },-->
<!--                        nodes:null-->
<!--                    })-->
<!--                },-->
<!--                nodes:null-->
<!--            })-->

<!--            //清空评论输入框-->
<!--            oMsg[0].value = "";-->
<!--        }-->
<!--    }-->
<!--</script>-->
</html>