<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dxhdemo.mapper.GuestbookMapperGB">

    <insert id="book">
        INSERT INTO guestbook(title,email,tel,name,addr,content)
        VALUES (#{title},#{email},#{tel},#{name},#{addr},#{content})
    </insert>

    <select id="getAll" resultType="com.example.dxhdemo.bean.Guestbook">
        SELECT * FROM guestbook
    </select>

</mapper>