<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dxhdemo.mapper.NewsMapperGB">

    <insert id="pubNews">
        INSERT INTO news (id, titile, show, time)
        VALUES (#{id},#{title},#{show},#{time})
    </insert>

    <select id="getInfo" resultType="com.example.dxhdemo.bean.News">
        SELECT * FROM news WHERE id = #{id}
    </select>

</mapper>